body {
    background-color:pink;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
}


.alert-container {
    
}


.callout-container {
    height:100vh;
   
    background: url("../images/zulu.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
    display:flex;
    align-items:center;
    justify-content:center;
    
    position:relative;
}

.quotes-container {
    
}


.services-container {
    
}

.opaque-overlay {
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
}




/*Blockdivider*/

.block-divider {
    width: 75px;
    height: 5px;
    border: none;
    background-color:white;
}

.block-divider-short{
     width: 35px;
}


/*Jumbotron*/

.jumbotron {
    background: transparent;
}

.jumbotron-header {
    color:white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #ecdbdb;
}


.jumbotron small {
    font-size: 60%;
    font-style:italic;
    color: #ecdbdb;
}

